*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    
}


html{

    font-size: 62.5%;
    background: var(--Verydarkblue);


    /* Primary */


    --Blue: hsl(246, 80%, 60%);

    --Lightred: hsl(15, 100%, 70%);
    --Softblue: hsl(195, 74%, 62%);
    --Lightred: hsl(348, 100%, 68%);
    --Limegreen: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Softorange: hsl(43, 84%, 65%);


    /* Neutral */

    --Verydarkblue: hsl(226, 43%, 10%);
    --Darkblue: hsl(235, 46%, 20%);
    --Desaturatedblue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);

}


body{

    color: white;
    font-size: 1.8rem;
    
}




.grid-container{

    display: grid;
    grid-template-areas: 'main work play study' 'main exercise social selfcare';
    margin: 200px auto;
    width: 100rem;
                        
}



.grid-container > div{
    background: rgb(231, 197, 197);
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 2rem;
    
    
    
}




.grid-container .main{

    background-color: var(--Darkblue);
    grid-area: main;
    height: 42rem;
    width: 20rem;
    
    
}

.grid-container .main h3{
    margin-top: 10rem;
}

.grid-container .maintop{

    background-color: var(--Blue);
    margin-bottom: 10rem;
    height: 20rem;
    border-radius: 1rem;
    
}


.grid-container .work{

    grid-area: work;
    background-color: var(--Darkblue);
}

.grid-container .play{

    grid-area: play;
    background-color: var(--Darkblue);
}

.grid-container .study{

    grid-area: study;
    background-color: var(--Darkblue);
}

.grid-container .exercise{

    grid-area: exercise;
    background-color: var(--Darkblue);
}

.grid-container .social{

    grid-area: social;
    background-color: var(--Darkblue);
}

.grid-container .selfcare{

    grid-area: selfcare;
    background-color: var(--Darkblue);

}





















footer{

    position: fixed;
    bottom: 0;
    right: 0;

}